<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' 
        customText: {
        headerText: 'Let\'s chat!'
        }});
    </script>
</head>
<body>
    <h2>Testing Demo</h2>
</body>
</html>
