<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({
        appToken: '9jr1bwwcf7oq5bbijwcrhroa6', 
        customText: {
                headerText: 'Let\'s chat!',
                inputPlaceholder: 'Type a message...',
                sendButtonText: 'Send',
                introductionText: 'Want to know something about Alex Cahiz? Just ask!',
         }
        
        });
    </script>
</head>
<body>
    <h2>Testing Demo</h2>
</body>
</html>
